.largeCard{
    max-width: 400px;
    height: 440px;
    text-align: center;
    /* position: relative; */
    word-wrap: break-word;
    width: 100%;
    font-weight: 300;
    line-height: 1.8em;
    background-color: rgb(42, 42, 38);
    margin: 20px 0 20px 0;
    
}


.largeCard .top{
  
}

.largeCard h4{
    padding: 0 0 10px 0;
    position: relative;
    top: 310px;
    width: 100%;
    z-index: 2;
    font-weight: 500;
    font-size: 25px;
    color: #fff !important;
    line-height: 1.3rem;
    word-wrap: break-word;
}
.bottom{
    position: relative;
    top: 340px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.bottom div{
    position: relative;
    width: 200px;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.bottom .b1{
    background-color: rgb(42,145,52);
}


.bottom .b2{
    background-color:rgb(0,62,11)
}